@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;300;400;500&display=swap');

a,
a:visited {
  text-decoration: none;
  color: #2255bb;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #555555;
  line-height: 1.35em;
  font-weight: light;
}

strong {
  font-weight: 400;
}

div.document {
  margin: 0 auto;
  max-width: 720px;
  margin-top: 7.5%;
  margin-bottom: 5%;
}

div.footer,
div.footer a {
  color: #cccccc;
  font-weight: 200;
  margin: 0 auto;
  max-width: 720px;
  margin-bottom: 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  margin-top: 2em;
}

h1 {
  font-size: 1.25em;
  font-weight: 200;
  margin-bottom: 3em;
}

h2 {
  font-size: 1.25em;
  margin-top: 3.5em;
  padding-bottom: 5px;
  font-weight: 400;
  margin-left: -2em;
  padding-left: 2em;
  width: 75%;
  /*    border-bottom: 1px solid black; */
}


ul li strong {
  display: block;
}

ul li p {
  margin-top: 0;
  margin-bottom: 0.5em;
}


a.tag,
table {
  width: 100%;
  border: collapse;
}

td {
  line-height: 1.1em;
  padding: 0;
  padding-bottom: 0;
}

blockquote {
  font-size: 14px;
  margin: 0;
  margin-top: 2em;
  color: #999999; 
}

blockquote a{
  text-decoration: none;
  color: #999869;
}

blockquote a:visited{
  text-decoration: none;
  color: #999869;
}